.root {
    display: grid;
    gap: 50px;
    border-right: 1px solid rgba(0, 0, 0, .3);
    padding: 21px 37px 0px 0px;
}

.addRow {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-items: end;
    justify-content: space-around;
}