body {
    --main-font: 24px/29px Montserrat, sans-serif;
    font: var(--main-font);
    margin-left: 60px;
}

h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin: 0;
    margin-bottom: 35px;
}