.root {
    display: grid;
    margin-bottom: 95px;
}

.title {
    margin-bottom: 37px;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 19px;
}

.label {
    width: 102px;
    margin-right: 11px;
}

.input {
    width: 138px;
}