.dragTrigger {
    cursor: pointer;
}

.root {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100%;
    row-gap: 8px;
    padding: 0 0 18px 28px;
    box-sizing: border-box;
}

.widgetWrapper {
    border-radius: 36px;
    overflow: hidden;
    background: #fff;
    isolation: isolate;
}